<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844575041116-dk6m7lleggt62n2sm1gssmsknh42ettb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844575041116-dk6m7lleggt62n2sm1gssmsknh42ettb</string>
	<key>API_KEY</key>
	<string>AIzaSyCMF3QnWoEaOAd862GkUrqQYR5RRczUIwU</string>
	<key>GCM_SENDER_ID</key>
	<string>844575041116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hayate.swift.QtlTodoList</string>
	<key>PROJECT_ID</key>
	<string>qtl-todo-list-e73d6</string>
	<key>STORAGE_BUCKET</key>
	<string>qtl-todo-list-e73d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844575041116:ios:5ed243fb6b06c5c10c2899</string>
</dict>
</plist>